# Ignore 3rd party libs that are included in the repo
libs/SDL/SDL2/* linguist-vendored
libs/ComponentSDL/inc/* linguist-vendored
libs/ConsoleLib/inc/* linguist-vendored
libs/* linguist-vendored
libs/ linguist-vendored

